:root{
  --primary-color:rgba(1,20,35,255);
  --secondary-color: rgba(20,97,112,255);
  --tertiary-color:rgba(254,236,211,255);
  --quaternary-color: rgba(255,126,3,255);
  --quinary-color:rgba(121,40,16,255);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid blueviolet 2px;
}

body {
  background-color:var(--tertiary-color);
  font-family: 'Times New Roman', Times, serif;
}

header{
  background-color: var(--quinary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
nav{
  display: flex;
}


